
.idea/
__pycache__/

BL_models_weights/
CSRNet_models_weights/

preprocess/train_val_test_json/*

test_code/*
_train.sh
_test.sh
_README.md
out.jpg
img.png
/weights/
models/_vgg.txt
models/_model_vgg.py
